{
	"presets": [
		"next/babel",
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [
		"tailwind-components",
		[
			"babel-plugin-styled-components",
			{
				"ssr": true,
				"displayName": true,
				"preprocess": true,
				"pure": true
			}
		]
	]
}